$bGreyColor: rgb(180, 180, 180);
$bgGreyColor: rgb(245, 245, 245);

body {
    a {
        text-decoration: none;
    }
    font-family: "Ubuntu", sans-serif;

    > div#home {
        border: solid 1px $bGreyColor;
        border-radius: 10px;
        margin: auto;
        width: 60%;
        min-width: 50em;
        padding: 1em;
        padding-bottom: 2em;
        margin-bottom: 10em;
    }
}

.button,
button {
    background-color: white;
    text-transform: uppercase;
    display: inline-block;
    outline: none;
    padding: 0.5em 0.8em;
    cursor: pointer;
    border: solid 1px $bGreyColor;
    border-radius: 5px;
    color: inherit;
    text-decoration: none;
    margin-bottom: 1em;
    margin-right: 1.5em;

    &.disabled {
        cursor: not-allowed;
        color: rgb(100,100,100);

        &:hover {
            background-color: inherit;
        }
    }

    &:hover {
        background-color: $bgGreyColor;
    }

    &.active {
        background-color: rgb(238, 238, 238);
    }
}

div.content-table {
    width: 100%;
    text-align: center;
    color: rgb(34, 34, 34);

    > table {
        width: 100%;
        background-color: rgb(252, 252, 252);
        margin: auto;
        text-align: left;
        border-collapse: collapse;
        border: solid 1px $bGreyColor;

        > thead {
            border-bottom: solid 1px $bGreyColor;

            > tr > th {
                text-transform: uppercase;
                border-bottom: 2px solid $bGreyColor;

                &:not(.action):hover {
                    background-color: $bgGreyColor;
                    cursor: pointer;
                }
            }
        }

        > tbody {
            > tr {
                &:hover {
                    > td:not(.action) {
                        background-color: $bgGreyColor;
                        cursor: pointer;
                    }
                }

                > td.action {
                    text-align: center;
                    width: 1em;
                    white-space: nowrap;
                    > button, .button{
                        margin: 0;
                    }
                }
            }
        }

        td,
        th {
            padding: 0.5em;
            border: 1px solid $bGreyColor;
            border-bottom: 1px solid $bGreyColor;
        }
    }

    > ul {
        padding: 0;
        list-style: none;
        margin: auto;
        display: inline-block;
        border: solid 1px $bGreyColor;
        border-radius: 5px;
        margin-top: 1em;

        > li {
            display: table-cell;
            border: none;
            border-right: solid 1px $bGreyColor;
            border-radius: 0;

            &:last-child {
                border: none;
            }
        }
    }
}
